.titleBar {
  /*background: #f0f0f0;*/
  /*border-bottom: 1px solid grey;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  /*padding: 5px 5px 5px 10px;*/
  min-height: 4em;
  padding: 0 1em;
}

.menu {
  flex: 1;
  /*border: 1px solid lightgray;*/
  /*height: 100%;*/
  border-radius: 2px;
}

a.name {
  font-weight: 700;
  /*color: #313131;*/
  color: red;
  margin-right: 1em;
  margin-top: 2px;
  text-decoration: none;
}
